<!DOCTYPE html>

<head>
 <link rel="stylesheet" href="/static/style.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
 <header>
  <div>
  Adam Pickering
  </div>
  <nav>
   <a href="/">Home</a>
   &nbsp
   <a href="https://github.com/adamkpickering/">Github</a>
   &nbsp
   <a href="https://ca.linkedin.com/in/adamkpickering">LinkedIn</a>
  </nav>
 </header>
 <main>
